<!DOCTYPE html>
<html>
<head>
    <title>myapp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h2>CRUD SOLICITADO</h2>
    <p>Requerimiento para la practica</p>
    <a class="btn btn-primary" href="{% url 'created' %}"> Crear </a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Opción</th>
            </tr>
            </thead>
            <tbody>
            {% if names_from_context %}
            {% for name in names_from_context %}
            <tr>
                <td>{{ name.Nombre }}</td>
                <td>{{ name.Apellido }}</td>
                <td>{{ name.Telefono }}</td>
                <td>{{ name.Correo }}</td>
                <td>
                    <a class="btn btn-secondary" href="{% url 'update' id=name.id %}">Actualizar </a>
                        <a class="btn btn-danger" href="{% url 'delete' id=name.id %}">Borrar </a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5" class="text-middle">No hay registros</td>
            </tr>
            {% endif %}
            </tbody>

        </table>
</div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>